<!--Мы будем расширять базовый шаблон base.html-->
<!--В блок content поместим информацию, содержимое главной страницы-->
<!--Точто было написано в базовом шаблоне отображено в функции super-->
<!-- список ul, в котором мы перебираем коллекцию posts, каждая статья помещается в переменную p, отображаем все статьи из БД -->
<!-- url_for() - формирование ссылки на статью,  'showPost' - обработчик показать статью,
id_post - id статьи берем из переменной p,   p.title - заголовок статьи, щелкая по нему, будем переходить на страницу отображения этой статьи
p.text[:50] - берем из текста статьи максимум 50 первых символов -->
<!-- list-posts, title, annonce - оформление у списка css -->
<!--укажем параметр alias вместо id_post, и передадим url, который будет прочитан из БД, который пропишем в getPostsAnonce(), getPost(), для отображения url на странице-->
<!--striptags - фильтр для отображения текста, убирает все теги -->
<!-- alias=p.url - url, который прочитан из БД -->

{% extends 'base.html' %}

{% block content %}

{{ super() }}
<!-- # добавим на главную страницу сайта ссылку для перехода в admin панель перейдем в index.html -->
<p><a href="{{ url_for('admin.index')}}">Админ-панель</a></p>
<hr>
<h2>Список статей</h2>
<ul class="list-posts">

{% for p in posts %}
<li>
<p class="title"><a href="{{ url_for('showPost', alias=p.url)}}">{{p.title}}</a></p>
<p class="annonce">{{ p.text[:50] | striptags }}</p>
</li>
{% endfor %}

</ul>
{% endblock %}